@model List<Event>

<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 2rem;">
    @foreach (var events in Model)
    {
        <div>
            <div class="card">
                <div class="card-body">
                   
                        <div class="">
                            <div class="">
                                <p class="text-center text-lg text-uppercase font-bold text-lg text-primary" style="font-size: 1.5rem;">@events.EventName</p>
                                <p class="">by <b>@events.EventDate</b></p>
                            <p class="">Tickets available <b>@events.AvailableSeats</b></p>
                           
                            </div>
                            <div class="">
                                <p class="">
                                    TicketPrice:
                                    <span >
                                        @events.TicketPrice.ToString("c")
                                    </span>
                                </p>
                            </div>

                       @* <div class="">
                            <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-EventId="@events.EventId" class="btn btn-outline-primary"> Details</a>
                        </div>*@
                        <div class="">
                            <a asp-area="Customer" asp-controller="Home" asp-action="CreateBooking" asp-route-EventId="@events.EventId" class="btn btn-outline-primary"> Book</a>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    }
</div>
<div style="z-index: 1; position: absolute; bottom: 0; left: 0; right: 0; width: 100%; display: flex; justify-content:center; padding: 1rem; padding-bottom: 2rem;">
            @await Component.InvokeAsync("Countdown")
</div>
